core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json

# Data files
data/raw/insider_transactions/*
data/raw/stock_prices/*
data/interim/*
data/processed/*

# Models
models/*

# Virtual environment
venv/
.env

# Distribution / packaging
.build/
dist/
.egg-info/
.eggs/
*.egg


# Visual Studio Code
.vscode/

# Logs and reports
logs/
reports/figures/*.png
reports/EDA/*.html