# Plotting/ Web Apps
matplotlib
plotly
dash
dash-bootstrap-components
ipykernel

# Data fetching and parsing
kaggle==1.5.12

# Machine learning essentials
scikit-learn
numpy
pandas
xgboost


# others
nbformat
python-dotenv
