# Plotting/ Web Apps
matplotlib
plotly
dash
dash-bootstrap-components
ipykernel
# Dataset fetching from url
requests
# Machine learning essentials
scikit-learn
numpy
pandas
xgboost==1.5.2
# others
nbformat
